content {
    display: flex;
    width: 100%;
    height: 100%;

    .menu {
        width: 200px;
        height: 100%;
        max-height: 100%;
        overflow: auto;

        .buttons {
            position: sticky;
            top: 0;

            display: flex;
            align-items: center;
            background-color: #fff;
            z-index: 2;

            button {
                min-width: auto;
                padding: 0 0.5rem;

                mat-icon {
                    font-size: 20px !important;
                    font-weight: 500 !important;
                }
            }

            .seperator {
                flex: 1;
            }
        }

        .header {
            display: flex;
            align-items: center;

            margin-top: 1rem;
            background-color: var(--backgroundColor);

            .title {
                flex: 1;
                padding: 1rem;
                font-weight: 500;
                color: var(--primaryColor);
            }

            button {
                min-width: auto;
            }
        }

        .counts {
            display: flex;
            padding: 1rem 1rem 0 1rem;

            .count {
                flex-grow: 1;
                text-align: center;

                .title {
                    font-size: 11px;
                    font-weight: 500;
                    color: var(--grayColor);
                }
            }
        }

        .error {
            padding: 1rem;
            font-size: 11px;
            text-align: justify;
            color: var(--warnColor);
        }

        mat-select {
            margin: 1rem;
            width: calc(100% - 2rem);
            padding: 0.25rem 0.5rem;
            border-radius: 4px;
            border: 1px solid var(--borderColor);
        }

        .vehicle {
            display: flex;
            align-items: flex-start;
            column-gap: 1rem;

            padding: 0 1rem;

            mat-icon {
                color: var(--primaryColor);
                font-size: 24px !important;
                margin-top: 0.5rem !important;
            }

            .info {
                flex: 1;

                .title {
                    font-size: 11px;
                    font-weight: 500;
                }

                .parking {
                    font-size: 10px;
                    color: var(--grayColor);
                }

                .capacity {
                    font-size: 10px;
                    color: var(--grayColor);
                }

                .counts {
                    padding: 0;
                }
            }
        }

        .centers {
            display: flex;
            flex-direction: column;
            row-gap: 0.5rem;

            padding: 1rem;

            .center-info {
                display: flex;
                align-items: center;
                column-gap: 0.5rem;

                font-size: 11px;
                padding: 0.5rem;
                cursor: pointer;

                .title {
                    flex: 1;
                }

                .time {
                    width: 55px;
                    text-align: left;
                }
            }

            .center-parking {
                .title {
                    font-weight: 600;
                }
            }

            .center-selected {
                color: var(--primaryColor);
                background: var(--backgroundColor);
            }
        }
    }

    .map {
        width: calc(100% - 200px);
        height: 100%;
        background-color: #fff;
    }
}
