<page-title [title]="title"></page-title>

<page-card [title]="khatka.time.begin | ngxHelperJalali" [icon]="'calendar_month'" [padding]="'0'" [buttons]="buttons">
    <page-section>
        <page-section-column>
            <page-block [blocks]="blocks[0]" [column]="2" [border]="false"></page-block>
        </page-section-column>
        <page-section-column>
            <page-block [blocks]="blocks[1]" [column]="2" [border]="false"></page-block>
        </page-section-column>
    </page-section>
    <page-section>
        <page-section-column>
            <page-block [blocks]="blocks[2]" [column]="2" [border]="false"></page-block>
        </page-section-column>
        <page-section-column>
            <page-block [blocks]="blocks[3]" [column]="2" [border]="false"></page-block>
        </page-section-column>
    </page-section>
    <!-- PORTIONS -->
    @if (khatka.cargo && khatka.cargo.portions.length > 0) {
    <div class="portions">
        <table [cellPadding]="0" [cellSpacing]="0" [width]="'100%'" [border]="0">
            <tr>
                <th>بار</th>
                <th class="info">طرف حساب</th>
                <th class="info">محموله</th>
                <th class="center">نسبت</th>
            </tr>
            @for (item of khatka.cargo.portions; track $index) {
            <tr>
                <td>
                    {{ item.title }}
                    <div class="type">{{ loadCargoInfo[item.type].title }}</div>
                </td>
                <td class="info">{{ item.party?.title || '' }}</td>
                <td class="info">{{ item.shipment?.title || '' }}</td>
                <td class="center en">{{ item.proportion }}</td>
            </tr>
            }
        </table>
    </div>
    }
</page-card>

<div class="page-seperator"></div>
<page-card [title]="'نتایج آزمایش'" [icon]="'biotech'" [padding]="'0'">
    <div class="tests">
        <table [cellPadding]="0" [cellSpacing]="0" [width]="'100%'" [border]="0">
            <tr>
                <th class="frozen"></th>
                <th [width]="'15%'">{{ laboratoryResultInfo['FE'].title }}</th>
                <th [width]="'15%'">{{ laboratoryResultInfo['FEO'].title }}</th>
                <th [width]="'15%'">{{ laboratoryResultInfo['GRIND'].title }}</th>
                <th [width]="'15%'">{{ laboratoryResultInfo['MOISTURE'].title }}</th>
                <th [width]="'15%'">{{ laboratoryResultInfo['SULPHUR'].title }}</th>
            </tr>
            @for (item of laboratoryKhatkaList; track $index) {
            <tr>
                <td class="test frozen">
                    {{ laboratoryKhatkaInfo[item].title }}
                    @if (laboratoryKhatkaInfo[item].khatka) {
                    <div class="separator">ختکا</div>
                    }
                </td>
                <!-- FE -->
                <td [class.deactive]="isDisabled(item, 'FE')">
                    @if (tests[item]?.fe) {
                    {{ tests[item]?.fe?.result | number }}
                    } @else { &nbsp; }
                </td>
                <!-- FEO -->
                <td [class.deactive]="isDisabled(item, 'FEO')">
                    @if (tests[item]?.feo) {
                    {{ tests[item]?.feo?.result | number }}
                    } @else { &nbsp; }
                </td>
                <!-- GRIND -->
                <td [class.deactive]="isDisabled(item, 'GRIND')">
                    @if (tests[item]?.grind) {
                    {{ tests[item]?.grind?.result | number }}
                    } @else { &nbsp; }
                </td>
                <!-- MOISTURE -->
                <td [class.deactive]="isDisabled(item, 'MOISTURE')">
                    @if (tests[item]?.moisture) {
                    {{ tests[item]?.moisture?.result | number }}
                    } @else { &nbsp; }
                </td>
                <!-- SULPHUR -->
                <td [class.deactive]="isDisabled(item, 'SULPHUR')">
                    @if (tests[item]?.sulphur) {
                    {{ tests[item]?.sulphur?.result | number }}
                    } @else { &nbsp; }
                </td>
            </tr>
            }
        </table>
    </div>
</page-card>
