.initial {
    border-radius: 0 0 4px 4px;
    background-color: var(--backgroundColor);
    padding: 1.25rem 0;
    text-align: center;
    color: var(--warnColor);
    font-weight: normal;
    font-size: 13px;
}
