.options {
    border-radius: 4px;
    border: 1px solid var(--borderColor);

    display: flex;
    align-items: flex-start;

    .option {
        flex-grow: 1;

        .title {
            padding: 0.75rem 1rem;
            background-color: var(--backgroundColor);
        }

        .checkbox {
            display: flex;
            column-gap: 1rem;
        }
    }
}

:host ::ng-deep mat-checkbox {
    .mdc-label {
        position: relative;
        right: -0.5rem;

        padding-right: 0;
        font-size: 12px;
    }
}

.table {
    max-width: 100%;
    overflow: auto;
    position: relative;
    overflow-y: hidden;

    table {
        border: 1px solid var(--borderColor);

        th {
            padding: 1.25rem 1rem;
            color: var(--primaryColor);
            background-color: var(--backgroundColor);
            border-left: 1px solid var(--borderColor);
        }

        td {
            text-align: center;
            padding: 1.25rem 1rem;
            border-top: 1px solid var(--borderColor);
            border-left: 1px solid var(--borderColor);
        }

        th:last-child,
        td:last-child {
            border-left-width: 0;
        }

        th.time,
        td.time {
            font-size: 12px;
            font-weight: normal;
            border-top: 1px solid var(--borderColor);
        }

        th.cargo {
            border-bottom: 1px solid var(--borderColor);
        }

        th.title,
        td.title {
            text-align: right;
        }

        td.portion {
            font-size: 12px;
            padding-top: 0;
            border-top-width: 0;
        }

        td.portion:first-child {
            padding-right: 2rem;
        }

        th.top {
            border-top: 1px solid var(--borderColor);
        }

        th.frozen,
        td.frozen {
            position: sticky;
            right: 1px;
            z-index: 1;
        }

        td.frozen {
            background-color: var(--whiteColor);
        }

        td.odd {
            background-color: var(--highlightColor);
        }

        td.click {
            cursor: pointer;
        }

        td.group-location {
            text-align: justify;
            white-space: nowrap;
        }
    }
}

@media only screen and (max-width: 600px) {
    .options {
        .option {
            .checkbox {
                flex-direction: column;
            }
        }
    }

    .table {
        table {
            th.test,
            td.test {
                width: 75px;
                min-width: 75px;
            }

            th.location,
            td.location {
                right: 75px;
                width: 100px;
                min-width: 100px;
            }
        }
    }
}
