<page-title [(page)]="page" [title]="title" (paramChanged)="loadList($event)"></page-title>

<page-section>
    <page-section-column [width]="250" [sticky]="true">
        <location-group [group]="group"></location-group>
    </page-section-column>
    <page-section-column>
        <list
            [list]="list"
            [loading]="loading"
            [data]="locations"
            [pagination]="pagination"
            (pageChanged)="page = $event"
        ></list>
    </page-section-column>
</page-section>
