.dates {
    display: flex;
    align-items: center;

    .date {
        flex-grow: 1;
        text-align: center;

        .title {
            font-size: 12px;
        }

        .value {
            margin-top: 0.75rem;
            font-weight: 500;
        }

        .empty {
            font-weight: 400;
            font-size: 11px;
            font-style: italic;
        }
    }
}

ul {
    margin-right: 1rem;

    li {
        text-align: justify;
        font-size: 13px;
        margin-bottom: 1rem;
    }
}
