<page-title [title]="title"></page-title>

<page-tab (activeTabChanged)="activeTab = $event">
    <page-tab-content [title]="'مشخصات دوره'" [active]="activeTab === 0">
        @if (activeTab === 0) { <study-view-info [study]="study"></study-view-info> }
    </page-tab-content>

    <page-tab-content [title]="'لیست شرکت‌کننده‌ها'">
        @if (activeTab === 1) { <study-view-participant [study]="study"></study-view-participant> }
    </page-tab-content>
    <page-tab-content [title]="'لیست هزینه‌ها'">
        @if (activeTab === 2) { <study-view-expense [study]="study"></study-view-expense> }
    </page-tab-content>
</page-tab>
