.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;

    padding: 3rem 0;
    color: var(--primaryColor);

    mat-icon {
        font-size: 32px !important;
    }

    .label {
        font-size: 14px;
        font-weight: 500;
    }
}
