.transporter {
    padding-right: 2.5rem;
}

.no-transporter {
    font-size: 12px;
    text-align: center;
    font-style: italic;
    padding: 0.5rem 0;
}

ul {
    margin-right: 1rem;

    li {
        text-align: justify;
        font-size: 13px;
        margin-bottom: 1rem;
    }
}
