@if (loading) {
<ngx-helper-loader></ngx-helper-loader>
} @else {
<page-section>
    <page-section-column>
        <page-card [title]="'پلاک ثبت شده'" [icon]="'local_shipping'">
            <div class="truck">
                <div class="type">{{ draft.truck ? draft.truck.type : '' }}</div>
                <ngx-helper-plate [plate]="draft.plate.split('-')"> </ngx-helper-plate>
            </div>
            <!-- OWNER AND DRIVER -->
            @if (draft.truck) {
            <div class="truck-data">
                <div class="item">
                    <div class="title">مالک</div>
                    <div class="value">{{ draft.truck.owner.name }}</div>
                </div>
                <div class="item">
                    <div class="title">راننده</div>
                    <div class="value">{{ draft.truck.driver.name }}</div>
                </div>
            </div>
            }
            <!-- NO TRUCK -->
            @else {
            <div class="truck-empty">ناوگان در سیستم ثبت نشده است.</div>
            }
        </page-card>

        <!-- CARGO -->
        <div class="page-seperator"></div>
        <ul>
            <!-- CARGO TRUCK === 'ON' -->
            @if (cargo?.truck === 'ON') {
            <li>
                با توجه به تنظیمات انجام شده در ارتباط با بار مرتبط با این حواله، فقط می‌توانید شماره پلاک
                <span class="color-warn">ناوگان ثبت شده در سیستم</span> را به عنوان ناوگان مرتبط با این حواله، ثبت کنید.
            </li>
            <li>پس از تغییر اطلاعات پلاک، مشخصات ناوگان (شامل مالک و راننده ناوگان) نیز برای این حواله تغییر خواهد کرد.</li>
            <li>
                در هنگام تغییر پلاک، وزن خالی حواله (با توجه به توزین ناوگان) تغییر داده نمی‌شود و در صورت نیاز باید با
                استفاده از بخش ویرایش اطلاعات وزنی، تغییرات مربوط به وزن در حواله ایجاد شود.
            </li>
            }

            <!-- CARGO TRUCK === 'OFF' -->
            @if (cargo?.truck === 'OFF') {
            <li>
                با توجه به تنظیمات انجام شده در ارتباط با بار مرتبط با این حواله، فقط می‌توانید شماره پلاک
                <span class="color-warn">ناوگان ثبت نشده در سیستم</span> را به عنوان ناوگان مرتبط با این حواله، ثبت کنید.
            </li>
            <li>تغییر پلاک مرتبط با حواله، تغییری در سایر مشخصات حواله ایجاد نخواهد کرد.</li>
            }

            <!-- CARGO TRUCK === undefined -->
            @if (cargo && !cargo.truck) {
            <li>
                با توجه به تنظیمات انجام شده در ارتباط با بار مرتبط با این حواله، محدودیتی در ارتباط با ناوگان مرتبط با حواله
                وجود دارد و می‌توانید شماره پلاک را بدون توجه به وضعیت ثبت ناوگان در سیستم، تغییر دهید.
            </li>
            <li>پس از تغییر اطلاعات پلاک، مشخصات ناوگان (شامل مالک و راننده ناوگان) نیز برای این حواله تغییر خواهد کرد.</li>
            <li>
                در صورت مشخص کردن پلاک یکی از ناوگان‌های ثبت شده در سیستم، در هنگام تغییر پلاک، وزن خالی حواله (با توجه به
                توزین ناوگان) تغییر داده نمی‌شود و در صورت نیاز باید با استفاده از بخش ویرایش اطلاعات وزنی، تغییرات مربوط به
                وزن در حواله ایجاد شود.
            </li>
            }

            <!-- NO CARGO -->
            @if (!cargo) {
            <li class="color-warn">
                مشخصات بار مرتبط با حواله از سیستم حذف شده است. به همین دلیل محدودیتی در ارتباط با پلاک مرتبط با ناوگان وجود
                ندارد.
            </li>
            <li>پس از تغییر اطلاعات پلاک، مشخصات ناوگان (شامل مالک و راننده ناوگان) نیز برای این حواله تغییر خواهد کرد.</li>
            <li>
                در صورت مشخص کردن پلاک یکی از ناوگان‌های ثبت شده در سیستم، در هنگام تغییر پلاک، وزن خالی حواله (با توجه به
                توزین ناوگان) تغییر داده نمی‌شود و در صورت نیاز باید با استفاده از بخش ویرایش اطلاعات وزنی، تغییرات مربوط به
                وزن در حواله ایجاد شود.
            </li>
            }

            <!-- GENERAL -->
            <li>
                مشخص کردن توضیحات در هنگام ویرایش پلاک الزامی است و این توضیحات در گزارش تغییرات حواله نمایش داده خواهد شد.
            </li>
        </ul>
    </page-section-column>
    <page-section-column>
        <ngx-form [ngxForm]="ngxForm" (ngxSubmit)="ngxSubmit($event)"></ngx-form>
    </page-section-column>
</page-section>
}
