:root {
    --primaryColor: rgb(3, 126, 243);
    --primaryColorRGB: 3, 126, 243;
    --accentColor: rgb(228, 190, 146);
    --accentColorRGB: 228, 190, 146;
    --warnColor: rgb(255, 49, 27);
    --warnColorRGB: 255, 49, 27;

    --borderColor: rgb(220, 220, 220);
    --backgroundColor: rgb(238, 242, 246);
    --highlightColor: rgb(247, 249, 251);
    --blackColor: rgb(36, 29, 29);
    --whiteColor: rgb(255, 255, 255);
    --grayColor: rgb(100, 100, 100);
}
