:host {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
    overflow: hidden;
}

ngx-helper-box {
    display: block;
    overflow: hidden;

    .box {
        overflow: auto;
        max-height: 50vh;

        .passengers {
            display: flex;
            flex-direction: column;
            row-gap: 0.5rem;
            padding: 0.5rem 1rem;

            .passenger {
                display: flex;
                align-items: center;
                column-gap: 0.5rem;

                .code {
                    font-size: 11px;
                    font-weight: 500;
                }

                .name {
                    white-space: nowrap;
                    font-size: 11px;
                }
            }
        }
    }

    button {
        margin: 0.5rem;
        width: calc(100% - 1rem);
    }
}
