.settings {
    display: flex;
    flex-direction: column;

    .item {
        display: flex;
        align-items: center;
        column-gap: 1rem;

        padding: 1rem 1rem 0 1rem;

        .title {
            width: 50px;
        }

        mat-select {
            flex: 1;
        }
    }

    mat-checkbox {
        margin: 0.5rem 0 0.75rem 0;
    }
}

.table {
    max-width: 100%;
    overflow: auto;
    position: relative;
    overflow-y: hidden;

    table {
        tr {
            th {
                padding: 1.25rem 1rem;
                color: var(--primaryColor);
                background-color: var(--backgroundColor);
            }

            td {
                text-align: center;
                padding: 0.75rem 1rem;
                border-top: 1px solid var(--borderColor);
                border-left: 1px solid var(--borderColor);
            }

            td:last-child {
                border-left-width: 0;
            }

            th.title,
            td.title {
                text-align: justify;
            }

            th.frozen,
            td.frozen {
                position: sticky;
                right: 0;
                z-index: 1;
                background-color: var(--backgroundColor);
            }

            td.frozen {
                background-color: var(--whiteColor);
            }

            th.frozen {
                text-align: justify;
                white-space: nowrap;
            }

            td.footer {
                background-color: var(--backgroundColor);
            }
        }

        tr.out-of-range {
            td {
                color: var(--grayColor);
                background: repeating-linear-gradient(
                    45deg,
                    var(--backgroundColor),
                    var(--backgroundColor) 3px,
                    var(--whiteColor) 3px,
                    var(--whiteColor) 10px
                );
            }
        }
    }
}
