<div class="question">آیا می‌خواهید اطلاعات سرو را ثبت کنید؟</div>
<div class="description">
    در صورت تایید، اطلاعات سرو برنامه غذایی به صورت تایید شده در سیستم ثبت خواهد شد و پس از آن امکان ویرایش اطلاعات اصلی
    مربوط به سرو غذا (شامل تاریخ، وعده غذایی و نوع غذا) وجود نخواهد داشت.
</div>

<div class="buttons">
    <button mat-flat-button type="button" color="primary" (click)="done()">بلی</button>
    <button mat-stroked-button type="button" color="primary" (click)="close()">خیر</button>
</div>
