:root {
    --primaryColor: rgb(56, 77, 84);
    --primaryColorRGB: 56, 77, 84;
    --accentColor: rgb(228, 190, 146);
    --accentColorRGB: 228, 190, 146;
    --warnColor: rgb(255, 49, 27);
    --warnColorRGB: 255, 49, 27;

    --borderColor: rgb(220, 220, 220);
    --backgroundColor: rgb(238, 242, 246);
    --highlightColor: rgb(247, 249, 251);
    --blackColor: rgb(36, 29, 29);
    --whiteColor: rgb(255, 255, 255);
    --grayColor: rgb(100, 100, 100);
}

html.dark-mode {
    --primaryColor: rgb(170, 195, 205);
    --primaryColorRGB: 170, 195, 205;
    --accentColor: rgb(228, 190, 146);
    --accentColorRGB: 228, 190, 146;
    --warnColor: rgb(255, 89, 67);
    --warnColorRGB: 255, 89, 67;

    --borderColor: rgb(60, 65, 70);
    --backgroundColor: rgb(24, 28, 32);
    --highlightColor: rgb(34, 40, 45);
    --blackColor: rgb(238, 242, 246);
    --whiteColor: rgb(34, 40, 45);
    --grayColor: rgb(160, 160, 160);
}
